<%- include('header')%>
	<div class="container">

	  	<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/2/1/21030422003001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega1.model %></h5>
				    <p class="card-text"><%= db.Omega1.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-21230445203001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega2.model %></h5>
				    <p class="card-text"><%= db.Omega2.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-21230425003001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega3.model %></h5>
				    <p class="card-text"><%= db.Omega3.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-21232412004001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega4.model %></h5>
				    <p class="card-text"><%= db.Omega4.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-22022412102001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega5.model %></h5>
				    <p class="card-text"><%= db.Omega5.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/2/2/22022412102001_caseback.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega6.model %></h5>
				    <p class="card-text"><%= db.Omega6.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-22010382003001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega7.model %></h5>
				    <p class="card-text"><%= db.Omega7.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/c/a/caseback-22010382003001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega8.model %></h5>
				    <p class="card-text"><%= db.Omega8.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-23110432202003.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega9.model %></h5>
				    <p class="card-text"><%= db.Omega9.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-23153422206001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega10.model %></h5>
				    <p class="card-text"><%= db.Omega10.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-23110422101002.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega11.model %></h5>
				    <p class="card-text"><%= db.Omega11.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/c/a/caseback-22010382003001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega12.model %></h5>
				    <p class="card-text"><%= db.Omega12.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-23410392001001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega13.model %></h5>
				    <p class="card-text"><%= db.Omega13.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-23332412101001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega14.model %></h5>
				    <p class="card-text"><%= db.Omega14.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/c/a/caseback-23332412101001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega15.model %></h5>
				    <p class="card-text"><%= db.Omega15.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.omegawatches.com/media/catalog/product/cache/f95da71315bcb39ac61198f4cc713eb4bd257115efd9d22080ae8b12f2fed529/s/o/soldier-22012402001001.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Omega16.model %></h5>
				    <p class="card-text"><%= db.Omega16.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

	</div>

<%- include('footer')%>