<%- include('header')%>
	<div class="container">

	  	<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot1.model %></h5>
				    <p class="card-text"><%= db.Hublot1.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot2.model %></h5>
				    <p class="card-text"><%= db.Hublot2.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot3.model %></h5>
				    <p class="card-text"><%= db.Hublot3.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot4.model %></h5>
				    <p class="card-text"><%= db.Hublot4.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot5.model %></h5>
				    <p class="card-text"><%= db.Hublot5.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot6.model %></h5>
				    <p class="card-text"><%= db.Hublot6.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot7.model %></h5>
				    <p class="card-text"><%= db.Hublot7.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot8.model %></h5>
				    <p class="card-text"><%= db.Hublot8.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot9.model %></h5>
				    <p class="card-text"><%= db.Hublot9.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot10.model %></h5>
				    <p class="card-text"><%= db.Hublot10.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot11.model %></h5>
				    <p class="card-text"><%= db.Hublot11.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot12.model %></h5>
				    <p class="card-text"><%= db.Hublot12.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot13.model %></h5>
				    <p class="card-text"><%= db.Hublot13.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot14.model %></h5>
				    <p class="card-text"><%= db.Hublot14.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot15.model %></h5>
				    <p class="card-text"><%= db.Hublot15.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot16.model %></h5>
				    <p class="card-text"><%= db.Hublot16.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>
	</div>

<%- include('footer')%>