<%- include('header')%>
	<div class="container">

	  	<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex1.model %></h5>
				    <p class="card-text"><%= db.Rolex1.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex2.model %></h5>
				    <p class="card-text"><%= db.Rolex2.price %> </p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex3.model %></h5>
				    <p class="card-text"><%= db.Rolex3.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex4.model %></h5>
				    <p class="card-text"><%= db.Rolex4.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

			
		</div>
	</div>

<%- include('footer')%>