<%- include('header')%>

	<div class="container">

		<div class="row justify-content-center">

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoFinissimo-Watch-BVLGARI-102945-E-1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari1.model %></h5>
				    <p class="card-text"><%= db.Bvlgari1.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoFinissimo-Watch-BVLGARI-102138-E-1_v04.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari2.model %></h5>
				    <p class="card-text"><%= db.Bvlgari2.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoFinissimo-Watch-BVLGARI-102028-E-1_v04.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari3.model %></h5>
				    <p class="card-text"><%= db.Bvlgari3.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoFinissimo-Watch-BVLGARI-102346-E-1_v04.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari4.model %></h5>
				    <p class="card-text"><%= db.Bvlgari4.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

		</div>

		<div class="row justify-content-center">

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoRoma-Watch-BVLGARI-102856-E-1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari5.model %></h5>
				    <p class="card-text"><%= db.Bvlgari5.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoRoma-Watch-BVLGARI-102705-E-1_v03.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari6.model %></h5>
				    <p class="card-text"><%= db.Bvlgari6.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoRoma-Watch-BVLGARI-102704-E-1_v04.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari7.model %></h5>
				    <p class="card-text"><%= db.Bvlgari7.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoRoma-Watch-BVLGARI-102703-E-1_v04.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari8.model %></h5>
				    <p class="card-text"><%= db.Bvlgari8.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

		</div>

		<div class="row justify-content-center">

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoSolotempo-Watch-BVLGARI-102858-E-1_v03.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari9.model %></h5>
				    <p class="card-text"><%= db.Bvlgari9.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/Octo-Watch-BVLGARI-101964-E-1_v04.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari10.model %></h5>
				    <p class="card-text"><%= db.Bvlgari10.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/Octo-Watch-BVLGARI-102039-E-1_v02.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari11.model %></h5>
				    <p class="card-text"><%= db.Bvlgari11.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/O/c/OctoMaseratiGranLusso-Watch-BVLGARI-102229-E-1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari12.model %></h5>
				    <p class="card-text"><%= db.Bvlgari12.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

		</div>

		<div class="row justify-content-center">

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/S/e/SerpentiTubogas-Watch-BVLGARI-102948-E-1_v03.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari13.model %></h5>
				    <p class="card-text"><%= db.Bvlgari13.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/S/e/SerpentiTubogas-Watch-BVLGARI-102236-E-1_v02.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari14.model %></h5>
				    <p class="card-text"><%= db.Bvlgari14.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/S/e/SerpentiTubogas-Watch-BVLGARI-101816-E-1_v02.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari15.model %></h5>
				    <p class="card-text"><%= db.Bvlgari15.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.bulgari.com/media/catalog/product/cache/image/1800x1405/4d80747777cb3e0787431be668352562/S/e/SerpentiTubogas-Watch-BVLGARI-101815-E-1_v02.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Bvlgari16.model %></h5>
				    <p class="card-text"><%= db.Bvlgari16.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

		</div>

	</div>
<%- include('footer')%>