<%- include('header')%>
	<div class="container">

		<div class="row justify-content-center">

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-calibre-de-cartier-silver-dial-stainless-steel-18kt-pink-gold-brown-alligator-men_s-watch-w7100043_1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier1.model %></h5>
				    <p class="card-text"><%= db.Cartier1.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-calibre-de-cartier-diver-automatic-divers-men_s-watch-wsca0006_1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier2.model %></h5>
				    <p class="card-text"><%= db.Cartier2.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-drive-automatic-men_s-watch-wsnm0004_2.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier3.model %></h5>
				    <p class="card-text"><%= db.Cartier3.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-tank-louis-18kt-yellow-gold-men_s-watch-w1529756_6.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier4.model %></h5>
				    <p class="card-text"><%= db.Cartier4.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

		</div>

		<div class="row justify-content-center">

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-ballon-bleu-automatic-men_s-watch-wsbb0015.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier5.model %></h5>
				    <p class="card-text"><%= db.Cartier5.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-drive-de-cartier-automatic-mens-watch-wsnm0005--.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier6.model %></h5>
				    <p class="card-text"><%= db.Cartier6.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-calibre-diver-automatic-men_s-watch-wsca0010.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier7.model %></h5>
				    <p class="card-text"><%= db.Cartier7.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-drive-de-cartier-silvered-flinque-dial-automatic-men_s-watch-wsnm0008.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier8.model %></h5>
				    <p class="card-text"><%= db.Cartier8.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

		</div>

		<div class="row justify-content-center">

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-ballon-bleu-automatic-diamond-dial-ladies-watch-we902074.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier9.model %></h5>
				    <p class="card-text"><%= db.Cartier9.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-ballon-bleu-automatic-silver-dial-stainless-steel-and-18kt-yellow-gold-ladies-watch-w2bb0002_4.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier10.model %></h5>
				    <p class="card-text"><%= db.Cartier10.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-ronde-croisiere-automatic-gray-dial-black-leather-men_s-watch-w2rn0005_1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier11.model %></h5>
				    <p class="card-text"><%= db.Cartier11.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-ronde-solo-silver-opaline-dial-automatic-ladies-watch-wsrn0021.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier12.model %></h5>
				    <p class="card-text"><%= db.Cartier12.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

		</div>

		<div class="row justify-content-center">

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-ronde-solo-de-cartier-xl-automatic-silver-dial-18-kt-rose-gold-men_s-watch-w6701009.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier13.model %></h5>
				    <p class="card-text"><%= db.Cartier13.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-calibre-de-cartier-automatic-silver-dial-men_s-watch-w7100044_1.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier14.model %></h5>
				    <p class="card-text"><%= db.Cartier14.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-ballon-bleu-large-men_s-watch-w6900651.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier15.model %></h5>
				    <p class="card-text"><%= db.Cartier15.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

			<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.jomashop.com/media/catalog/product/cache/1/small_image/259x/9df78eab33525d08d6e5fb8d27136e95/c/a/cartier-ballon-bleu-automatic-silver-dial-men_s-watch-wsbb0020.jpg" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Cartier16.model %></h5>
				    <p class="card-text"><%= db.Cartier16.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
			</div>

		</div>


	</div>

<%- include('footer')%>