<%- include('header')%>

 	<div class="container">

	  	<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex1.model %></h5>
				    <p class="card-text"><%= db.Rolex1.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex2.model %></h5>
				    <p class="card-text"><%= db.Rolex2.price %> </p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex3.model %></h5>
				    <p class="card-text"><%= db.Rolex3.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex4.model %></h5>
				    <p class="card-text"><%= db.Rolex4.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex5.model %></h5>
				    <p class="card-text"><%= db.Rolex5.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex6.model %></h5>
				    <p class="card-text"><%= db.Rolex6.price %> </p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex7.model %></h5>
				    <p class="card-text"><%= db.Rolex7.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex8.model %></h5>
				    <p class="card-text"><%= db.Rolex8.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex9.model %></h5>
				    <p class="card-text"><%= db.Rolex9.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex10.model %></h5>
				    <p class="card-text"><%= db.Rolex10.price %> </p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex11.model %></h5>
				    <p class="card-text"><%= db.Rolex11.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex12.model %></h5>
				    <p class="card-text"><%= db.Rolex12.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex13.model %></h5>
				    <p class="card-text"><%= db.Rolex13.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex14.model %></h5>
				    <p class="card-text"><%= db.Rolex14.price %> </p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex15.model %></h5>
				    <p class="card-text"><%= db.Rolex15.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>

				<div class="card text-white bg-dark " style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="http://placehold.it/90px70/" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Rolex16.model %></h5>
				    <p class="card-text"><%= db.Rolex16.price %></p>
				    <a href="#" class="btn btn-secondary">Go somewhere</a>
				  </div>
				</div>
			
		</div>
		
 	</div>


<%- include('footer')%>