<%- include('header')%>
	<div class="container">

	  	<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.oq.1189.nr.iti18-sd-thumb.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot1.model %></h5>
				    <p class="card-text"><%= db.Hublot1.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.cf.8513.rx-sd-hr-w-thumb.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot2.model %></h5>
				    <p class="card-text"><%= db.Hublot2.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.nx.5179.rx_3.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot3.model %></h5>
				    <p class="card-text"><%= db.Hublot3.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.nx.1170.rx_new_thumb.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot4.model %></h5>
				    <p class="card-text"><%= db.Hublot4.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.om.1180.rx_new_thumb_v2.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot5.model %></h5>
				    <p class="card-text"><%= db.Hublot5.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.cm.1138.rx_new.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot6.model %></h5>
				    <p class="card-text"><%= db.Hublot6.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.ci.1170.rx-sd-hr-w.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot7.model %></h5>
				    <p class="card-text"><%= db.Hublot7.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.hx.1170.rx-sd-hr-w_1.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot8.model %></h5>
				    <p class="card-text"><%= db.Hublot8.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.nx.1170.rx.1704-sd-hr-w_1.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot9.model %></h5>
				    <p class="card-text"><%= db.Hublot9.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.ox.1180.rx.0904-sd-hr-w_1.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot10.model %></h5>
				    <p class="card-text"><%= db.Hublot10.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/411.jx.4802.rt.1904-sd-hr-w_1.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot11.model %></h5>
				    <p class="card-text"><%= db.Hublot11.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/0/402.qf.0110.wr-sd-hr-w-rgb-thumb.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot12.model %></h5>
				    <p class="card-text"><%= db.Hublot12.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>

		<div class="row justify-content-center">
	  			
		 		<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/0/402.mx.0138.wr-sd-hr-w_1.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot13.model %></h5>
				    <p class="card-text"><%= db.Hublot13.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/0/402.ox.0138.wr-sd-hr-w_1_newcolor_thumb_v2.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot14.model %></h5>
				    <p class="card-text"><%= db.Hublot14.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/0/402.nx.0123.wr-sd-hr-w_3.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot15.model %></h5>
				    <p class="card-text"><%= db.Hublot15.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>

				<div class="card text-white bg-dark text-center" style="width: 16rem; margin: 10px;">
				  <img class="card-img-top img-fluid" src="https://www.hublot.com/magento/media/catalog/product/cache/1/thumbnail/236x296/9df78eab33525d08d6e5fb8d27136e95/4/1/416.ys.1120.vr-sd-thumb.png" alt="Card image cap">
				  <div class="card-body">
				    <h5 class="card-title"><%= db.Hublot16.model %></h5>
				    <p class="card-text"><%= db.Hublot16.price %></p>
				    <a href="#" class="btn btn-secondary">Buy Now</a>
				  </div>
				</div>
			
		</div>
	</div>

<%- include('footer')%>